<div id="contact-card" class="collapse position-fixed bottom-0 end-0 me-8 z-3 mb-152px">
  <div class="card round-l overflow-hidden border-0">
    <div class="card-header px-5 py-8 link-white bg-primary-700">
      <h4 class="mb-3">你好 ~ 需要幫忙嗎 ?</h4>
      <p class="fs-xl">加入官方 LINE 安排專員為您解惑</p>
    </div>
    <div class="card-body position-relative">
      <div class="qrframe position-absolute text-center">
        <img src="/assets/images/header/qrcode.png" alt="巷弄派對QRcode">
        <p>掃描後即可開啟 LINE 進行對話</p>
      </div>
    </div>
  </div>
</div>

<button id="contact-btn"
  class="d-none d-md-block contact-icon collapsed position-fixed end-0 bottom-0 me-8 mb-8 z-3"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#contact-card"
  aria-controls="contact-card"     
  aria-expanded="false"
  aria-label="聯絡我們">
</button>
