<footer class="footer bg-primary-800">
    <div class="container p-20px p-md-5">
<div class="d-flex justify-content-center justify-content-md-between">
    <div class="d-flex justify-content-center">
        <img class="footer-icon-1" src="/assets/images/header/logo-img.png" alt="巷弄派對-logo">
        <div class="link-white fs-sm">
            <img class="footer-icon-2 mb-1" src="/assets/images/header/logo-text.png" alt="巷弄派對">
            <p class="mb-1 mb-md-2">Email : street-party@gmail.com</p>
            <p class="mb-3 mb-md-0">地址 : 彰化市三民路8號</p>
            <ul class="nav d-flex gap-20px d-md-none">
                <li><a href="#"><img src="/assets/images/header/facebook.png" alt="facebook-link"></a></li>
                <li><a href="#"><img src="/assets/images/header/instagram.png" alt="instgram-link"></a></li>
                <li><a href="#"><img src="/assets/images/header/line.png" alt="line-link"></a></li>
                <li><a href="#"><img src="/assets/images/header/email.png" alt="email-link"></a></li>
            </ul>
        </div>
    </div>
    <ul class="nav d-none d-md-flex gap-20px">
        <li><a href="#"><img src="/assets/images/header/facebook.png" alt="facebook-link"></a></li>
        <li><a href="#"><img src="/assets/images/header/instagram.png" alt="instgram-link"></a></li>
        <li><a href="#"><img src="/assets/images/header/line.png" alt="line-link"></a></li>
        <li><a href="#"><img src="/assets/images/header/email.png" alt="email-link"></a></li>
    </ul>
</div>
        <hr class="link-white opacity-100 my-md-5">
        <p class="link-white fs-xs text-center">Copy Right Ⓒ A-5 巷弄派對 版權所有</p>
    </div>
</footer>
