<ul class="nav justify-content-center gap-1 gap-lg-6 d-none d-md-flex border-bottom border-gray-600">
  <li class="nav-item">
    <a class="nav-link fs-xxl fw-bold py-5 font-handwriting text-primary-700" href="genderIntro.html">性別派對</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-xxl fw-bold py-5 font-handwriting text-primary-700" href="#">收涎派對</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-xxl fw-bold py-5 font-handwriting text-primary-700" href="#">抓週派對</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-xxl fw-bold py-5 font-handwriting text-primary-700" href="#">其他派對</a>
  </li>  
</ul>