<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <%- include('./layout/float-btn'); -%>
    <section>
        <div class="gender-header text-center align-content-center">
            <h1 class="text-white fs-title font-handwriting">性別派對</h1>
        </div>
    </section>
    <section class="container py-9 py-lg-11">
        <!-- 夢幻玫瑰金 -->
        <div class="d-flex flex-column flex-md-row-reverse align-items-center gap-8 gap-md-7 mb-md-10">
            <div class="genderStyle-ImgMask w-100 w-md-50 round-full">
                <img src="/assets/images/partyIndex/genderStyle-01.png" class="genderStyle-Img1" alt="性別派對-夢幻玫瑰金風1">
                <img src="/assets/images/partyIndex/genderStyle-02.png" class="genderStyle-Img2" alt="性別派對-夢幻玫瑰金風2">
            </div>
            <div class="w-100 w-md-50 align-content-center mb-8 mb-md-0">
                <h3 class="mb-md-4 mb-5 text-primary-800 text-center">夢幻玫瑰金風</h3>
                <p class="fs-xl text-gray-600 pe-md-6 text-start">夢幻玫瑰金風格以柔和的金粉色調為主軸，結合氣球造型與質感道具，營造浪漫又高雅的派對氛圍。無論是想要溫馨甜美，還是時尚亮眼，都能為寶寶與家人打造獨一無二的揭曉時刻。</p>
            </div>
        </div>
        <!-- 粉紅粉藍俏皮風 -->
         <div class="d-flex flex-column flex-md-row align-items-center gap-8  gap-md-7 mb-md-10">
            <div class="genderStyle-ImgMask w-100 w-md-50 round-full">
                <img src="/assets/images/partyIndex/genderStyle-03.png" class="genderStyle-Img1" alt="性別派對-粉紅粉藍俏皮風1">
                <img src="/assets/images/partyIndex/genderStyle-04.png" class="genderStyle-Img2" alt="性別派對-粉紅粉藍俏皮風2">
            </div>
            <div class="w-100 w-md-50 align-content-center mb-8 mb-md-0">
                <h3 class="mb-md-4 mb-5 text-primary-800 text-center">粉紅粉藍俏皮風</h3>
                <p class="fs-xl text-gray-600 ps-md-6 text-start">粉紅或粉藍的經典配色，搭配可愛氣球、趣味小道具與繽紛擺設，營造出輕鬆又活潑的派對氛圍。適合喜歡俏皮、童趣感的家庭，讓揭曉時刻充滿驚喜與笑聲，每一張照片都色彩繽紛、充滿溫度。</p>
            </div>
        </div>        

        <!-- 溫柔婉約大地 -->
        <div class="d-flex flex-column  flex-md-row-reverse align-items-center gap-8  gap-md-7 mb-md-10">
            <div class="genderStyle-ImgMask w-100 w-md-50 round-full">
                <img src="/assets/images/partyIndex/genderStyle-05.png" class="genderStyle-Img1" alt="性別派對-溫柔婉約大地風1">
                <img src="/assets/images/partyIndex/genderStyle-06.png" class="genderStyle-Img2" alt="性別派對-溫柔婉約大地風2">
            </div>
            <div class="w-100 w-md-50 align-content-center">
                <h3 class="mb-md-4 mb-5 text-primary-800 text-center">溫柔婉約大地風</h3>
                <p class="fs-xl text-gray-600 pe-md-6">大地色系打造溫柔婉約的派對空間。柔和的色彩讓整場氛圍恬靜而不失典雅，適合希望用簡單卻不平凡的方式紀念寶寶揭曉時刻的家庭，讓這份幸福在暖色光影中悄悄蔓延。</p>
            </div>
        </div>        
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>        