<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/float-btn'); -%>
    <section>
        <div class="gender-header text-center align-content-center">
            <h1 class="text-white fs-title font-handwriting">性別派對</h1>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-9 position-relative bg-primary-50 genderIntroHead">
                <h1>由來</h1>
                <p class="">性別派對起源於北美父母想把「新生命的驚喜」與親友一起分享：把產檢上的一行字，變成現場同步揭曉的溫暖時刻。從蛋糕夾色、氣球彩粉，到簡單的小道具，形式不斷演變；重點始終是把期待與祝福聚在一起，讓家人朋友共同見證那一刻的笑與淚。
                </p>
                <p class="">引進台灣後，性別派對與抓周、收涎並列成為「迎接與陪伴」的儀式線。場地從餐廳延伸到主題空間（如老屋、室內露營），更符合拍照與家庭聚會需求；許多家庭也會搭配直播或相簿分享，讓外地親友一起參與，留下屬於我們的台式溫度。
                </p>
                <img src="/assets/images/partyIndex/genderIntro-01.png" alt="" class="position-absolute genderIntroHead-Img round-xl">
    
            </div>
        </div>
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>        