<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <%- include('./layout/float-btn'); -%>
            <section>
                <div class="party-header text-center align-content-center">
                    <h1 class="text-white fs-title font-handwriting">派對時光</h1>
                </div>
            </section>
            <section class="container py-lg-11">
                <div class="row">
                    <div class="col-12 mb-8">
                        <%- include('./layout/partyIndexNav'); -%>
                    </div>
                    <div class="col-10 col-lg-6 mx-auto mb-lg-9">
                        <div class="partyIndexImgMask round-l">
                            <img src="/assets/images/partyIndex/gender-01.png" alt="" class="w-100 partyIndexImg">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-3 align-content-center mb-lg-9 mb-7">
                        <h3 class="text-center h2 font-handwriting text-primary-500 my-3 my-md-4">性別派對</h3>
                        <p class="px-5 py-2 mb-5 px-lg-3 fs-lg text-gray-600">
                            性別派對不只是揭曉寶寶性別的瞬間，而是一場全家人一起期待、歡笑、感動的回憶。從氣球彩粉、過程保密，到夢幻的主題佈置，每個細節都能幫你把關。專業團隊協助規劃與拍攝，確保每一個驚喜表情都被完美記錄。點進來看看，讓你的派對靈感一次到位！
                        </p>
                        <div class="d-flex justify-content-center gap-7">
                            <a href="genderStyle.html" class="btn btn-primary w-25 py-4 round-l fs-lg">風格介紹</a>
                            <a href="genderIntro.html" class="btn btn-primary w-25 py-4 round-l fs-lg">方案介紹</a>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6 mx-auto mb-lg-9">
                        <div class="partyIndexImgMask round-l">
                            <img src="/assets/images/partyIndex/collect-01.png" alt=""
                                class="w-100 partyIndexImg round-l">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-3 align-content-center mb-lg-9 mb-7">
                        <h3 class="text-center h2 font-handwriting text-primary-500 my-3 my-md-4">收涎派對</h3>
                        <p class="px-5 py-2 mb-5 px-lg-3 fs-lg text-gray-600">
                            想讓寶寶的收涎儀式更有記憶點？我們將傳統收涎習俗融入創意派對佈置，搭配專屬主題背景、可愛收涎餅乾與溫馨互動，讓每個笑容與動作都被完美捕捉。不只是儀式，更是一場專屬寶寶的小派對。立即探索我們的風格與服務，讓寶寶的四個月紀念更特別！
                        </p>
                        <div class="d-flex justify-content-center gap-7">
                            <a href="" class="btn btn-primary w-25 py-4 round-l fs-lg">風格介紹</a>
                            <a href="" class="btn btn-primary w-25 py-4 round-l fs-lg">方案介紹</a>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6 mx-auto mb-lg-9">
                        <div class="partyIndexImgMask round-l">
                            <img src="/assets/images/partyIndex/oneyear-01.png" alt=""
                                class="w-100 partyIndexImg round-l">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-3 align-content-center mb-lg-9 mb-7">
                        <h3 class="text-center h2 font-handwriting text-primary-500 my-3 my-md-4">抓週派對</h3>
                        <p class="px-5 py-2 mb-5 px-lg-3 fs-lg text-gray-600">
                            抓周，是寶寶滿一歲的重要儀式，象徵著對未來的美好祝福。我們將傳統的抓周流程結合創意派對佈置，從場地氛圍到抓周道具都能客製化，讓儀式不只是走流程，更是全家一起參與的溫馨回憶。專業攝影全程記錄寶寶的可愛瞬間，點進來看看更多獨特的抓周派對靈感！
                        </p>
                        <div class="d-flex justify-content-center gap-7">
                            <a href="" class="btn btn-primary w-25 py-4 round-l fs-lg">風格介紹</a>
                            <a href="" class="btn btn-primary w-25 py-4 round-l fs-lg">方案介紹</a>
                        </div>
                    </div>               
                    <div class="col-10 col-lg-6 mx-auto mb-lg-9">
                        <div class="partyIndexImgMask round-l">
                            <img src="/assets/images/partyIndex/other-01.png" alt=""
                                class="w-100 partyIndexImg round-l">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-3 align-content-center mb-lg-9 mb-7">
                        <h3 class="text-center h2 font-handwriting text-primary-500 my-3 my-md-4">其他</h3>
                        <p class="px-5 py-2 mb-5 px-lg-3 fs-lg text-gray-600">
                            我​們​提供​場​地​租​借服務，​適合​各​類​教育​與藝文​活動，​例如​親子​共讀、​講座​課程​或​社團​小聚。​場地​動線​寬敞，​配備​冷氣、​桌椅，​舒適​又​便利。​搭配質感空​間​與獨特氛圍，​讓學​習與交流​不​僅專業​有​效率，​更​增添​一​份​溫馨與​美​好​體驗。​
                        </p>
                        <div class="d-flex justify-content-center gap-7">
                            <a href="" class="btn btn-primary w-25 py-4 round-l fs-lg">風格介紹</a>
                            <a href="" class="btn btn-primary w-25 py-4 round-l fs-lg">方案介紹</a>
                        </div>
                    </div>                             
                </div>

            </section>




            <%- include('./layout/footer'); -%>

                <script type="module" src="../main.js"></script>
</body>

</html>